body {
    margin: 0 auto;
}

.arrow-icon {
    width: 200px;
    display: inline-block;
    cursor: pointer;
    margin-top: 50px; 
    margin-right: 1000px;   
}

mat-icon:hover {
    background-color: aliceblue;
}

.nav-item {
    cursor: pointer;
    margin: 50px;
    width: 150px;
    text-align: center;
}

.content-item {
    display: none;
    margin: 50px;
}

.nav-item.active {
    background-color: aqua;
    cursor: unset;    
} 

.nav-item:hover {
    background-color: aliceblue;
}

.content-item.active {
    display: block;
}