body {
    margin: 0 auto;
}

.arrow-icon {
    width: 200px;
    display: inline-block;
    margin-top: 50px;
    margin-left: 1000px;
}

.header-item {
    display: inline;
    margin-left: 50px;
    margin-right: 50px;
}

.content-item {
    display: none;
}

.header-item.active {
    background-color: blue;
} 

.header-item:hover {
    background-color: burlywood;
}

.header {
    height: 50px;
}