.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }

  .left {
    left: 0;
  }

  .right {
    right: 0;
  }

  .album-item {
      cursor: pointer;
  }

  .album-item:hover {
      background-color: #03fcfc;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }

  .column {
    float: left;
    width: 25%;
    padding: 10px;
  }
  
  .column img {
    opacity: 0.8;
    cursor: pointer;
  }
  
  .column img:hover {
    opacity: 1;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  