body {
    font-family: 'Lato';
}

tr {
    cursor: pointer;
}

.icon {
    cursor: pointer;
    text-align: center;
}

.icon:hover {
    background-color: grey;
}

#add-btn {
    margin-bottom: 1000px;
}

.btn-outline-primary {
    float: right;
}

.mat-icon {
    color: #007bff;
}

.mat-icon:hover {
    color: #2e96e6;
}

.submit-btn {
    position:absolute; 
    top:-1000px;
}

label {
    font-size: 14px;
    display: block;
    margin-top: 5px;
    margin-bottom: 0px;
}

input {
    width: 400px;   
}

.ui-dialog-titlebar {
    background-color: #d1e7ff;
}

.ui-button {
    border: 1px solid #087dff;
    background-color: white;
    color: #087dff;
}

.ui-button:hover {
    background-color: #087dff ;
    color: white;
}

#dialog-form {
    display: none;
}