#addBtn {
    cursor: pointer;
}

.task-item {
    background-color: #e6fff3;
    cursor: pointer;
}

#error-message {
    color: red;
}

.task-item.done {
    background-color: #5ac18e;
    cursor: pointer;
}

.close {
    display: inline;
    cursor: pointer;
}