#addBtn {
    background-color: khaki;
    cursor: pointer;
}

.task-item {
    background-color: yellow;
    cursor: pointer;
}

#errorMessage {
    color: red;
}

.task-item.done {
    background-color: green;
    cursor: pointer;
}
